body {
    background-color: #f8f8f8;
}

.custom-control-label {
    white-space: nowrap;
}

#ordenar {
    margin: 0 auto;
    width: 90px;
    margin-top: 10px;
}

.card-body{
    cursor: move;
    background-color: #fdfcfc;
}

.divsDrop {
    background-color: #f8f8f8;
    width: 330px;
    height: 92px;
    border: 1px dotted #cccccc;
  }

#text-drop{
    color: #ccc;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
}
